%html
  %head
    %title UserAuthenticationApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .small
      - if current_user
        = link_to "Log Out", logout_path
      - else
        = link_to "Log In", login_path
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    = yield
